/* Sección Hero - Nosotros */
.about-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #8BC34A;
    height: 60vh; /* Altura reducida */
    overflow: hidden;
}

.text-section {
    width: 50%;
    padding: 40px; /* Menor padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-section h1 {
    font-size: 32px; /* Tamaño más compacto */
    font-weight: bold;
    color: #333;
    line-height: 1.2; /* Menos espacio entre líneas */
}

.text-section h1 span {
    color: #ffffff;
}

.text-section p {
    margin-top: 10px;
    color: #1B5E20;
    font-weight: bold;
    font-size: 14px;
}

.image-section {
    width: 50%;
    height: 100%; /* Ajusta a la altura */
}

.image-section img {
    width: 100%;
    height: 100%; /* Ajusta la imagen al contenedor */
    object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .about-banner {
        flex-direction: column;
        height: auto; /* Altura automática en móvil */
    }

    .text-section, .image-section {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .text-section h1 {
        font-size: 24px; /* Más pequeño en móvil */
    }
}




/* Sección de artículos */
.articles-section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.article-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.article-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.article-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #4CAF50;
}

.article-card p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.article-card .btn-read {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.article-card .btn-read:hover {
    background-color: #388E3C;
}

.article-card:hover {
    transform: translateY(-5px);
}

/* Responsive */
@media (max-width: 768px) {
    .article-card img {
        height: 150px;
    }
}
